# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
.ipynb_checkpoints
.DS_Store

# Latex files
*.out
*.log
*.aux
*.out
*.fdb_latexmk
*.fls
*.dvi
*.fdb_latexmk
*.fls
*.toc
*.nav
*.snm
*.vrb

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

cache/
*.pdf
*.RData
